<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <%= link_to (markdown_to_html private_wiki.title), wiki_path(wiki) %> 
    </div>
    <div class="col-md-1">
      <%= link_to "Edit", edit_wiki_path(wiki) %>
    </div>
    <div class="col-md-1">
      <% if policy(wiki).destroy? %>
        <%= link_to "Delete", [wiki], method: :delete %> <br/>
      <% end %>
    </div> 
  </div> 
</div>