// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-cont {
  max-width: 75%;  
}

.index-header {
  max-width: 90%;
  margin:1% 5%;
  padding: 1% 10%;
}

.heading-cont {
  margin: 1% 5%;
  padding: 1% 10%;
  text-align: center;
}

.cat-headers{
  max-width: 100%;
  margin-left: 8%;
  position: relative;
  left: 1em;
}

.jumbotron.jumbo-content {
  margin: 1% 4% 1% 1%;
  text-align: center;
  vertical-align: middle;
}

.jumbotron.action-text {
  background-color: #91BEA8;
}

.action-text {
  text-align: center;
  vertical-align: middle;
}